body{
        margin: 0;
        padding: 0;
}
.container{
        text-align: center;
        margin-top: 50px;

}
button{
        border: 1px solid black;
        border-radius: 2px;
        background: none;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding: 10px 25px;
        font-size: 20px;
        
}
button:hover{
    background-color:forestgreen;
    color: white;
}
input[type='text']{
        width: 30%;
        border: 1px solid #aaa;
        border-radius: 3px;
        margin: 7px;
        padding: 7px;
        box-sizing: border-box;
}
.aligncenter {
        text-align: center;
}
.centerImage {
        display:block;
        width:300px;
     
}
img{
    width:325px;
}
footer{
    bottom:0;
}